.div1 {
    background: #1FBF17;
}

.h2 {
    background-color: white;
}

.navbar {
    width: 100%;
    background: rgb(46, 172, 21) .press {
        background: #c96100;
        color: #FFF;
    }
}

.dropdown1 {
    justify-content: end;
}

form {
    width: 100px;
    padding: 50px;
}

.redondeado {
    border: 0px;
    font-size: 100%;
    outline: none;
}

table {
    width: 100%;
}

th,
td {
    width: 25%;
    text-align: left;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}